.App {  
  text-align: center;
}
.App-header {  
  background-color: #EA573F;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 70px;  
  display: flex;  
  flex-direction: column;
  align-items: center;  
  justify-content: center;  
  font-size: calc(10px + 2vmin);  
  color: white;  
  padding: 20px;  
  cursor: pointer;
}

.app-save {
  display: flex;
  justify-content: flex-end;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app-back {
  display: flex;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
