.gem-container {
  margin-bottom: 4px;
  border-bottom: 2px solid black;
  box-shadow: 4px 4px gray;
}
.gem {
  display: flex;
  flex-direction: row;
  height: 70px;
}
.gem-left {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.gem-name{
  font-size: 30px;
}
.gem-version {
  margin-left: 10px;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #a6aab2;
}

.gem-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 24px;
}

.gem-save {
  margin-right: 10px;
}
.gem-back {
  margin-right: 5px;
}